<head>
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}" />
</head>
<footer>
  <div class="flex">
    <h5>PostgreSQL Contributors</h5>
    <span>© 2023 - Postgresqlcontributors.com</span>
    <div>
      <a style="margin-right: 20px;" class="term-privacy" href="https://postgrescontributorstore.myshopify.com/pages/contact" target="_blank">Contact Us</a>
      <a style="margin-right: 20px;" class="term-privacy" href="https://postgrescontributorstore.myshopify.com/policies/terms-of-service" target="_blank">Terms of Service</a>
      <a class="term-privacy" href="https://postgrescontributorstore.myshopify.com/policies/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
  </div>
  <div class="mobile">
    <h5>PostgreSQL Contributors</h5>
    <div class="flex">
      <span>© 2023 - Postgresqlcontributors.com</span>
    </div>
    <div style="display: flex;align-items: center; margin-top: 10px;">
      <a style="margin-right: 20px;" class="term-privacy" href="https://postgrescontributorstore.myshopify.com/pages/contact">Contact Us</a>
      <a style="margin-right: 20px;" class="term-privacy" href="https://postgrescontributorstore.myshopify.com/policies/terms-of-service" target="_blank">Terms of Service</a>
      <a class="term-privacy" href="https://postgrescontributorstore.myshopify.com/policies/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
  </div>
</footer>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>