<head>
    <link rel="stylesheet" href="{{ '/assets/css/menubar.css' | relative_url }}" />
</head>
<div class="flex menubar">
    <div class="inline">
        <a class="postgresql" href="{{ '/' | relative_url }}">PostgreSQL Contributors</a>
    </div>
    <div class="inline">
        <p class="sponsoredBy">Sponsored by</p>
        <img src="{{ site.logos.main_logo | relative_url }}" class="ferretDB-logo" width="174px" height="57px" />
    </div>
    <div class="flex">
        <div style="display: flex;align-items: center;">
            <a class="postgresql" href="{{ '/' | relative_url }}">PostgreSQL Contributors</a>
        </div>
        <div style="display: flex;align-items: center;">
            <p class="sponsoredBy">Sponsored by</p>
            <img src="{{ site.logos.main_logo | relative_url }}" class="ferretDB-logo" width="auto" height="20px" />
        </div>
        <!-- <img id="hamburger" width="20px" height="13px" src="{{ '/assets/img/hamburger.png' | relative_url }}" /> -->
    </div>
    <div class="bar">
        <div class="background">
            <a class="fame" id="homepage" href="{{ '/' | relative_url }}">Home Page</a>
            <a class="fame" id="postgresql16" href="{{ '/postgresql16' | relative_url }}">PostgreSQL 16 Hall of Fame</a>
            <a class="store" href="https://postgrescontributorstore.myshopify.com/" target="_blank">Store</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ '/assets/js/jq-paginator.js' | relative_url }}"></script>

<script>
    $(document).ready(function () {
        $("#hamburger").click(function () {
            $(".bar").addClass("show");
        });

        $(".menubar > .bar").click(function () {
            $(".bar").removeClass("show");
        });

        $('.menubar .background').click(function (event) {
            // Prevent the click event from bubbling up to the .bar element
            event.stopPropagation();

            // Your click event code for the .background element goes here
            // This code will only execute when .background is clicked
        });

        var currentURL = window.location.href;
        console.log("Current URL: " + currentURL);
        if (currentURL.includes("postgresql16")) {
            $("#users").css("display", "none");
        } else {
            $("#homepage").css("display", "none");
        }

        $('.ferretDB-logo').on('click', function () {
            // Replace 'https://example.com' with the actual website link you want to open
            window.open('https://www.ferretdb.com', '_blank');
        });
    });
</script>