---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/profile.css' | relative_url }}" />
</head>
<div class="container">
  <!-- menu -->
  {% include menubar.html %}

  <a class="back" href="{{ '/postgresql16' | relative_url }}">
    &lt; Back to list</a>

  <div class="profile">
    <div style="align-items: self-start;" class="flex">
      <div class="wrap">
        <h5>{{ page.title }}</h5>
        {% if page.bio != undefined and page.company != undefined %}
        <p>{{ page.bio }} at {{ page.company }}</p>
        {% else %}
        <p style="visibility: hidden;">{{ page.bio }} at {{ page.company }}</p>
        {% endif %}
        <span class="country" data-country="{{ page.country }}">{{ page.address }}</span>
        <b>About:</b>
        <p class="about">{{ page.about }}</p>
      </div>
      <div style="width: auto; height:405px; position: relative;">
        <img width="auto" height="405px" src="{{ page.image | default: '/assets/img/user.png' | relative_url }}" />

        {% if page.multiYear == true %}
        <img width="auto" height="143px" src="{{ '/assets/img/multi-year.png' | relative_url }}" class="multi-year" />
        {% endif %}
      </div>
    </div>
    <div class="mobile">
      <div class="wrap">
        <h5>{{ page.title }}</h5>
        <p>{{ page.bio }} at {{ page.company }}</p>
        <span class="country" data-country="{{ page.country }}">{{ page.address }}</span>
        <b>About:</b>
        <p class="about">{{ page.about }}</p>
      </div>
      <div style="position: relative;width: 80%;height: 80%;margin: auto;">
        <img width="392px" height="405px" src="{{ page.image | default: '/assets/img/user.png' | relative_url }}"
          class="profile-image" />
        {% if page.multiYear == true %}
        <img width="147px" height="143px" src="{{ '/assets/img/multi-year.png' | relative_url }}" class="multi-year" />
        {% endif %}
      </div>
    </div>
  </div>

  <div class="social">
    <p>View profile on:</p>
    <div class="inline" style="padding: 73px 0">
      {% if page.twitter == undefined %}
      <div class="social-btn disabled">
        <div class="center inline">
          <img width="22px" height="18px" src="{{ '/assets/img/twitter.png' | relative_url }}" />
          <span>Twitter</span>
        </div>
      </div>
      {% else %}
      <a class="social-btn" href="{{ page.twitter }}" target="_blank">
        <div class="center inline">
          <img width="22px" height="18px" src="{{ '/assets/img/twitter.png' | relative_url }}" />
          <span>Twitter</span>
        </div>
      </a>
      {% endif %}

      {% if page.github == undefined %}
      <div class="social-btn disabled">
        <div class="center inline">
          <img width="21px" height="20px" src="{{ '/assets/img/github.png' | relative_url }}" />
          <span>GitHub</span>
        </div>
      </div>
      {% else %}
      <a class="social-btn" href="{{ page.github }}" target="_blank">
        <div class="center inline">
          <img width="21px" height="20px" src="{{ '/assets/img/github.png' | relative_url }}" />
          <span>GitHub</span>
        </div>
      </a>
      {% endif %}

      {% if page.linkedin == undefined %}
      <div class="social-btn disabled">
        <div class="center inline">
          <img width="21px" height="21px" src="{{ '/assets/img/linkedin.png' | relative_url }}" />
          <span>LinkedIn</span>
        </div>
      </div>
      {% else %}
      <a class="social-btn linkedin" href="{{ page.linkedin }}" target="_blank">
        <div class="center inline">
          <img width="21px" height="21px" src="{{ '/assets/img/linkedin.png' | relative_url }}" />
          <span>LinkedIn</span>
        </div>
      </a>
      {% endif %}
    </div>
    <p>Media:</p>
  </div>

  <div class="media">
    {% if page.mediaLink == undefined %}
    <div class="block">
      <img width="446px" height="251px" src="{{ '/assets/img/media.png' | relative_url }}" style="cursor: inherit;"/>
      <div class="wrap">
        <p class="no-content">There is no content here yet.</p>
        <p class="grey-content">Enhance your profile by sharing your media features, authored articles, and presentations with the community.
          Simply click the "Edit this page on GitHub" button below, add a link to a video or article, and provide a
          description in the "medialink" and "detail" fields, respectively.</p>
      </div>
    </div>
    {% else %}
    <div class="block">
      <img width="446px" height="251px" class="clickable"
        src="{{ page.thumbnailImage | default: '/assets/img/media.png' | relative_url }}"
        data-link="{{ page.mediaLink }}" />
      <div class="wrap">
        <h5>{{ page.company }} - {{ page.title }}</h5>
        <p>{{ page.detail }}</p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="lastUpdate">Last updated on {{ page.lastUpdate }}</div>
  <div class="githubText">Existing contributors can edit and update<br /> their profile information through GitHub.
  </div>
  <div class="github">
    <p><img width="20px" height="20px" style="margin-right: 15px; margin-bottom: 1px;"
        src="{{ '/assets/img/pencil-alt.png' | relative_url }}" />Edit this page on <a
        href="https://github.com/ares-dev05/postgrescontributors/edit/main/{{ page.path }}" target="_blank">GitHub</a>
    </p>
  </div>
  <!-- Create a div for the popup dialog and an overlay -->
  <div class="popup">
    <!-- Your content for the popup goes here -->
    <p><img width="20px" height="20px" style="margin-right: 15px; margin-bottom: 1px;"
        src="{{ '/assets/img/pencil-alt.png' | relative_url }}" />Edit this page on <a
        href="https://github.com/ares-dev05/postgrescontributors/edit/main/{{ page.path }}" target="_blank">GitHub</a>
    </p>
    <img width="41px" height="41px" src="{{ '/assets/img/close.png' | relative_url }}" class="close" />
    <img width="135px" height="128px" src="{{ '/assets/img/github-icon.png' | relative_url }}" class="github-icon" />
  </div>
  <div class="overlay"></div>
</div>


<script>
  $(document).ready(function () {
    const countryCodes = {
      Afghanistan: "AF",
      Albania: "AL",
      Algeria: "DZ",
      Andorra: "AD",
      Angola: "AO",
      "Antigua and Barbuda": "AG",
      Argentina: "AR",
      Armenia: "AM",
      Australia: "AU",
      Austria: "AT",
      Azerbaijan: "AZ",
      Bahamas: "BS",
      Bahrain: "BH",
      Bangladesh: "BD",
      Barbados: "BB",
      Belarus: "BY",
      Belgium: "BE",
      Belize: "BZ",
      Benin: "BJ",
      Bhutan: "BT",
      Bolivia: "BO",
      "Bosnia and Herzegovina": "BA",
      Botswana: "BW",
      Brazil: "BR",
      Brunei: "BN",
      Bulgaria: "BG",
      "Burkina Faso": "BF",
      Burundi: "BI",
      Cambodia: "KH",
      Cameroon: "CM",
      Canada: "CA",
      "Cape Verde": "CV",
      "Central African Republic": "CF",
      Chad: "TD",
      Chile: "CL",
      China: "CN",
      Colombia: "CO",
      Comoros: "KM",
      "Congo (Brazzaville)": "CG",
      "Congo (Kinshasa)": "CD",
      "Costa Rica": "CR",
      Croatia: "HR",
      Cuba: "CU",
      Cyprus: "CY",
      "Czech Republic": "CZ",
      Denmark: "DK",
      Djibouti: "DJ",
      Dominica: "DM",
      "Dominican Republic": "DO",
      "East Timor": "TL",
      Ecuador: "EC",
      Egypt: "EG",
      "El Salvador": "SV",
      "Equatorial Guinea": "GQ",
      Eritrea: "ER",
      Estonia: "EE",
      Eswatini: "SZ",
      Ethiopia: "ET",
      Fiji: "FJ",
      Finland: "FI",
      France: "FR",
      Gabon: "GA",
      Gambia: "GM",
      Georgia: "GE",
      Germany: "DE",
      Ghana: "GH",
      Greece: "GR",
      Grenada: "GD",
      Guatemala: "GT",
      Guinea: "GN",
      "Guinea-Bissau": "GW",
      Guyana: "GY",
      Haiti: "HT",
      Honduras: "HN",
      Hungary: "HU",
      Iceland: "IS",
      India: "IN",
      Indonesia: "ID",
      Iran: "IR",
      Iraq: "IQ",
      Ireland: "IE",
      Israel: "IL",
      Italy: "IT",
      "Ivory Coast": "CI",
      Jamaica: "JM",
      Japan: "JP",
      Jordan: "JO",
      Kazakhstan: "KZ",
      Kenya: "KE",
      Kiribati: "KI",
      Kuwait: "KW",
      Kyrgyzstan: "KG",
      Laos: "LA",
      Latvia: "LV",
      Lebanon: "LB",
      Lesotho: "LS",
      Liberia: "LR",
      Libya: "LY",
      Liechtenstein: "LI",
      Lithuania: "LT",
      Luxembourg: "LU",
      Madagascar: "MG",
      Malawi: "MW",
      Malaysia: "MY",
      Maldives: "MV",
      Mali: "ML",
      Malta: "MT",
      "Marshall Islands": "MH",
      Mauritania: "MR",
      Mauritius: "MU",
      Mexico: "MX",
      Micronesia: "FM",
      Moldova: "MD",
      Monaco: "MC",
      Mongolia: "MN",
      Montenegro: "ME",
      Morocco: "MA",
      Mozambique: "MZ",
      Myanmar: "MM",
      Namibia: "NA",
      Nauru: "NR",
      Nepal: "NP",
      Netherlands: "NL",
      "New Zealand": "NZ",
      Nicaragua: "NI",
      Niger: "NE",
      Nigeria: "NG",
      "North Macedonia": "MK",
      Norway: "NO",
      Oman: "OM",
      Pakistan: "PK",
      Palau: "PW",
      Panama: "PA",
      "Papua New Guinea": "PG",
      Paraguay: "PY",
      Peru: "PE",
      Philippines: "PH",
      Poland: "PL",
      Portugal: "PT",
      Qatar: "QA",
      Romania: "RO",
      Russia: "RU",
      Rwanda: "RW",
      "Saint Kitts and Nevis": "KN",
      "Saint Lucia": "LC",
      "Saint Vincent and the Grenadines": "VC",
      Samoa: "WS",
      "San Marino": "SM",
      "Sao Tome and Principe": "ST",
      "Saudi Arabia": "SA",
      Senegal: "SN",
      Serbia: "RS",
      Seychelles: "SC",
      "Sierra Leone": "SL",
      Singapore: "SG",
      Slovakia: "SK",
      Slovenia: "SI",
      "Solomon Islands": "SB",
      Somalia: "SO",
      "South Africa": "ZA",
      "South Sudan": "SS",
      Spain: "ES",
      "Sri Lanka": "LK",
      Sudan: "SD",
      Suriname: "SR",
      Sweden: "SE",
      Switzerland: "CH",
      Syria: "SY",
      Tajikistan: "TJ",
      Tanzania: "TZ",
      Thailand: "TH",
      Togo: "TG",
      Tonga: "TO",
      "Trinidad and Tobago": "TT",
      Tunisia: "TN",
      Turkey: "TR",
      Turkmenistan: "TM",
      Tuvalu: "TV",
      Uganda: "UG",
      Ukraine: "UA",
      "United Arab Emirates": "AE",
      "United Kingdom": "GB",
      "United States": "US",
      Uruguay: "UY",
      Uzbekistan: "UZ",
      Vanuatu: "VU",
      "Vatican City": "VA",
      Venezuela: "VE",
      Vietnam: "VN",
      Yemen: "YE",
      Zambia: "ZM",
      Zimbabwe: "ZW",
      Taiwan: "TW"
      // Add more countries and codes as needed
    };

    // Function to add country flag icons to the HTML
    function addCountryFlags() {
      const countryNameElements = document.querySelectorAll(".country");

      countryNameElements.forEach((nameElement) => {
        const countryName = nameElement.getAttribute("data-country");
        if (countryCodes[countryName]) {
          const countryCode = countryCodes[countryName].toLowerCase();
          // Replace 'icon-library' with the actual class or HTML to display the flag icon
          const flagIconHtml = `<span style="margin-left : 10px;" class="flag-icon flag-icon-${countryCode}"></span>`;
          nameElement.innerHTML = nameElement.innerHTML + flagIconHtml;
        }
      });
    }

    // Call the function to populate the country flag icons
    addCountryFlags();

    // $('.github').click(function () {
    //   $('.popup, .overlay').fadeIn();
    // });

    // $('.close').click(function () {
    //   $('.popup, .overlay').fadeOut();
    // });

    $(".media .block>img.clickable").click(function () {
      const url = $(".media .block>img").data("link");

      console.log("url", url);
      window.open(url, "_blank");
    });
  });
</script>